:root {
    --bg-color: #f5f5f5;
    --text-color: #333333;
    --outline-color: #95d6b7;
    --deleteButton-color: #dc5350;
    --editButton-color: #45bfe7;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.3rem;
    color: var(--text-color);
    font-family: Arial Rounded MT Bold, serif
}

#container {
    width: 100%;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    flex-flow: column wrap;
    align-items: center;
}

#container_todo_list {
    display: flex;
    align-items: center;
    flex-flow: column wrap;
    width: 40%;
    min-height: 40rem;
    background: var(--bg-color);
    padding: 1.5rem;
    word-break: break-all;
}

h1 {
    font-weight: lighter;
}

input {
    border: 1px solid var(--outline-color);
    outline: none;
    border-radius: 4px;
}


#container_text_bar {
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

button {
    width: 20%;
    background: transparent;
    color: var(--outline-color);
    border: 1px solid var(--outline-color);
    cursor: pointer;
}

#task_container {
    width: 100%;
}

#clearAll {
    margin-top: 10rem;
}

.task {
    display: flex;
    padding: 0.5rem;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.task > p {
    width: 65%;
    word-break: break-all;
    padding: 0.5rem;
}

.fa-xmark {
    color: var(--deleteButton-color);
    cursor: pointer;
}

.fa-pen-to-square {
    color: var(--editButton-color);
    cursor: pointer;
}

.fa-check {
    color: var(--outline-color);
    cursor: pointer;
}